Imports

In [1]:
#imports
import pandas as pd

a. Read this data into Python Pandas.

In [16]:
Education_data = pd.read_csv("Education_attainment.csv")
Education_data

,Year,Sex,Min degree,total,White,Black,Hispanic,Asian,Pacific Islander,American Indian/Alaska Native,Two or more races
0,1920.0,A,high school,---,22.0,6.3,---,---,---,---,---
1,1940.0,A,high school,38.1,41.2,12.3,---,---,---,---,---
2,1950.0,A,high school,52.8,56.3,23.6,---,---,---,---,---
3,1960.0,A,high school,60.7,63.7,38.6,---,---,---,---,---
4,1970.0,A,high school,75.4,77.8,58.4,---,---,---,---,---
...,...,...,...,...,...,...,...,...,...,...,...
211,2016.0,F,master's,11.2,12.3,6.3,6.3,28.8,---,---,8.2
212,2017.0,F,master's,10.5,11.8,6.8,5,25.8,---,---,5.4
213,2018.0,F,master's,10.7,12.6,6.2,3.8,29.9,---,---,---
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
Education_data.dtypes

Year                             float64
Sex                               object
Min degree                        object
total                             object
White                            float64
Black                            float64
Hispanic                          object
Asian                             object
Pacific Islander                  object
American Indian/Alaska Native     object
Two or more races                 object
dtype: object

b. Determine the percentages for women vs. men having earned a Bachelor's Degree in 1980.

In [39]:
Women = len(Education_data[
        (Education_data["Sex"] == "F" ) &
        (Education_data["Year"] == 1980) 
       
        ]
)
Men = len(Education_data[
    (Education_data["Sex"] == "M") &
    (Education_data["Year"] == 1980) 
    
])
Percentage = Women/(Women + Men) * 100

print(f"Percentages for Women vs Men = {Percentage}%")

Percentages for Women vs Men = 50.0%

c. Analyze the data for the two most commonly awarded levels of educational attainment awarded between 2000-2010 inclusive).

In [64]:

Education_Award= Education_data[
      
        (Education_data["Year"] >= 2000) &
        (Education_data["Year"]<= 2010)
        
    ]

Education_Award["Min degree"].value_counts()

high school    21
associate's    21
bachelor's     21
master's       21
Name: Min degree, dtype: int64

Compare the difference between total percent of bachelor's degrees received in 2000 to those in 2010.

In [77]:
Bachelor_degree_2000 = len(Education_Award[
        (Education_Award["Min degree"] == "bachelor's") &
        (Education_Award["Year"] == 2000)
        ])

Bachelor_degree_2010 = len(Education_Award[
            (Education_Award["Min degree"] == "bachelor's")&
            (Education_Award["Year"] == 2010)


])

Total = len(Education_Award[Education_Award["Min degree"]== "bachelor's"])
Total_Bach_degree_Perc = (Bachelor_degree_2000/Total *100) - (Bachelor_degree_2010/Total * 100)

print(f"Difference: {Total_Bach_degree_Perc}")

# print(f"2010 : {Bachelor_degree_2010}")

Difference: 0.0

e. Derive descriptive statistics for this data-set

In [80]:
Education_Award.describe()

              Year      White      Black
count    84.000000  84.000000  84.000000
mean   2006.428571  45.828571  34.280952
std       3.082347  31.381913  32.202235
min    2000.000000   4.900000   1.100000
25%    2005.000000  25.625000  12.200000
50%    2007.000000  41.150000  22.250000
75%    2009.000000  63.075000  47.450000
max    2010.000000  95.200000  91.100000